frr version 3.1+cl3u3
frr defaults datacenter
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
{% if overlay is defined %}
{% set vrfs = [] %}
{% for irb in overlay["irb"] -%}
{% if overlay["irb"][irb]["vrf"] is defined %}
{% if [overlay["irb"][irb]["vrf"]] not in vrfs %}
vrf {{overlay["irb"][irb]["vrf"]}}
 vni 40{{overlay["irb"][irb]["l3vni"]}}{% if overlay["irb"][irb]["asymmetric"] is defined %}{% if overlay["irb"][irb]["asymmetric"] %} prefix-routes-only {% endif %} {% endif %}
{{ vrfs.append( [overlay["irb"][irb]["vrf"]] ) }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
!
{% if routing["bgp"]["underlay"] is defined %}
{% for interface in routing["bgp"]["underlay"]["peers"] -%}
interface {{interface}}
 ipv6 nd ra-interval 10
 no ipv6 nd suppress-ra
!
{% endfor %}
{% endif %}

{% if overlay is defined %}
{% for irb in overlay["irb"] -%}
{% if overlay["irb"][irb]["ipv6"] is defined %}
{% if overlay["irb"][irb]["ipv6"]["VRRP"] is defined %}
interface vlan{{overlay["irb"][irb]["l2vni"]}}-v0 vrf {{overlay["irb"][irb]["vrf"]}}
 ipv6 nd managed-config-flag
 ipv6 nd other-config-flag
 ipv6 nd prefix {{overlay["irb"][irb]["ipv6"]["prefix"]}} 7200 1800 no-autoconfig
 ipv6 nd ra-interval 10
 ipv6 nd ra-lifetime 120
 no ipv6 nd suppress-ra
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

{% if routing["bgp"]["underlay"] is defined %}
router bgp {{ routing["bgp"]["underlay"]["asn"] }}
 bgp router-id {{ routing["lo"]|replace("/32", "")}}
 bgp bestpath as-path multipath-relax
 neighbor FABRIC peer-group
 neighbor FABRIC remote-as external
 neighbor FABRIC timers 1 3
{% for interface in routing["bgp"]["underlay"]["peers"] -%}
 neighbor {{interface}} interface peer-group FABRIC
{% endfor -%}
 !
 address-family ipv4 unicast
  redistribute connected route-map loopbacks
 exit-address-family
 !
 address-family l2vpn evpn
   neighbor FABRIC activate
   advertise-all-vni
   advertise ipv4 unicast
   advertise ipv6 unicast
 exit-address-family
{% endif %}
!
{% if routing["bgp"]["external"] is defined %}
{% for vrf in routing["bgp"]["external"] %}
router bgp {{ routing["bgp"]["external"][vrf]["asn"] }} vrf {{vrf}}
 bgp router-id {{ routing["lo"]|replace("/32", "")}}
 neighbor FABRIC peer-group
 neighbor FABRIC remote-as external
{% if routing["bgp"]["external"][vrf]["peers"] is defined %}
{% for peer in routing["bgp"]["external"][vrf]["peers"] %}
 neighbor {{peer}} peer-group FABRIC
{% endfor %}
{% elif routing["bgp"]["external"][vrf]["unnumbered_peers"] is defined %}
{% for peer in routing["bgp"]["external"][vrf]["unnumbered_peers"] %}
 neighbor {{peer}} interface peer-group FABRIC
{% endfor %}
{% endif %}
 !
 address-family ipv4 unicast
  redistribute connected
 exit-address-family
 address-family ipv6 unicast
  neighbor FABRIC activate
  redistribute connected
 exit-address-family
{% if routing["bgp"]["underlay"] is defined %}
{% if routing["bgp"]["underlay"]["evpn"] is defined %}
 address-family l2vpn evpn
  advertise ipv4 unicast
  advertise ipv6 unicast
 exit-address-family
{% endif %}
{% endif %}
 !
{% endfor %}
{% endif %}

route-map loopbacks permit 10
 match interface lo
!
line vty
!
