###############
# Ansible generated config, will be overwritten!
###############

###############
# General
###############
auto lo
iface lo inet loopback
   address {{routing["lo"]}}
{% if overlay is defined %}
{% if overlay["anycast-ip"] is defined %}
   clagd-vxlan-anycast-ip {{ overlay["anycast-ip"]|replace("/32", "")}}
{% endif %}
{% endif %}

{% if oob is defined and oob['ip_addr'] is defined and oob['netmask'] is defined %}
auto eth0
iface eth0 inet
  address {{ oob['ip_addr'] }}/{{ oob['netmask'] }}
{% if oob['alias'] is defined %}
  alias {{ oob['alias'] }}
{% endif %}
{% if oob['default'] is defined %}
  gateway {{ oob['default'] }}
{% endif %}
  vrf mgmt
{% else %}
auto eth0
iface eth0 inet dhcp
  vrf mgmt
{% endif %}

auto mgmt
iface mgmt
  address 127.0.0.1/8
  vrf-table auto

###############
# VRFs / L3VNI
###############

{% if overlay is defined %}
{% set vrfs = [] %}
{% for irb in overlay["irb"] %}
{% if overlay["irb"][irb]["vrf"] is defined %}
{% if overlay["irb"][irb]["vrf"] not in vrfs %}
auto {{ overlay["irb"][irb]["vrf"] }}
iface {{ overlay["irb"][irb]["vrf"] }}
    vrf-table auto

auto vni40{{ overlay["irb"][irb]["l3vni"] }}
iface vni40{{ overlay["irb"][irb]["l3vni"] }}
    mtu 9000
    bridge-access {{ overlay["irb"][irb]["l3vni"] }}
    bridge-arp-nd-suppress on
    bridge-learning off
    vxlan-id 40{{ overlay["irb"][irb]["l3vni"] }}
    vxlan-local-tunnelip {{ routing["lo"] }}

auto dummysvi40{{ overlay["irb"][irb]["l3vni"] }}
iface dummysvi40{{ overlay["irb"][irb]["l3vni"] }}
{% if mlag is defined %}
    hwaddress {{ mlag["sysmac"] }}
{% endif %}
    vlan-id {{ overlay["irb"][irb]["l3vni"] }}
    vlan-raw-device bridge
    vrf {{ overlay["irb"][irb]["vrf"] }}
    mtu 9000

{{ vrfs.append(overlay["irb"][irb]["vrf"]) }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}



###############
# Bridge / Vlans
###############

{% set l3vnis = [] %}
auto bridge
iface bridge
  bridge-vlan-aware yes
  bridge-ports
{%- for port in ports -%}
{% if (ports[port]["vlans"] is defined) or (ports[port]["vlan"] is defined) %}
 {{ port }}
{%- endif %}
{% endfor %}
{% if mlag is defined %} peerlink {% endif %}
{% if overlay is defined %}{%- for irb in overlay["irb"] %}{% if overlay["irb"][irb]["l2vni"] is defined %} vni10{{ overlay["irb"][irb]["l2vni"] }}{% endif %}{% if overlay["irb"][irb]["l3vni"] is defined %}{% if overlay["irb"][irb]["l3vni"] not in l3vnis %} vni40{{ overlay["irb"][irb]["l3vni"] }}{{ l3vnis.append(overlay["irb"][irb]["l3vni"]) }}{% endif %}{% endif %}{%- endfor %}{% endif %}

{% if overlay["irb"] is defined and overlay["irb"]|length %}
  bridge-vids {%- for irb in overlay["irb"] %} {{ overlay["irb"][irb]["l2vni"] }}{% endfor %}
{% endif %}

bridge-stp off


###############
# MLAG
###############

{% if mlag is defined %}
auto peerlink
iface peerlink
  bond-slaves {{ mlag["members"] | join(" ") }}
  mtu 9216
  bridge-learning off

auto peerlink.4094
iface peerlink.4094
  address {{ mlag["address"] }}
  clagd-peer-ip {{ mlag["peer_ip"] }}
  clagd-backup-ip {{ mlag["backup_ip"] }} vrf mgmt
  clagd-sys-mac {{ mlag["sysmac"] }}
{% endif %}


###############
# L2 VNIs
###############

{% if overlay is defined %}
{% for irb in overlay["irb"] %}
auto vni10{{ overlay["irb"][irb]["l2vni"] }}
iface vni10{{ overlay["irb"][irb]["l2vni"] }}
  mtu 9000
  vxlan-id 10{{ overlay["irb"][irb]["l2vni"] }}
  vxlan-local-tunnelip {{ routing["lo"]|replace("/32", "") }}
  bridge-access {{ overlay["irb"][irb]["l2vni"] }}
  bridge-learning off
  mstpctl-bpduguard yes
  mstpctl-portbpdufilter yes
  bridge-arp-nd-suppress on

{% endfor %}
{% endif %}

###############
# SVIs
###############

{% if overlay is defined %}
{% for irb in overlay["irb"] %}
{% if overlay["irb"][irb]["vrf"] is defined %}

auto vlan{{ overlay["irb"][irb]["l2vni"] }}
iface vlan{{ overlay["irb"][irb]["l2vni"] }}
    mtu 9000
    vrf {{ overlay["irb"][irb]["vrf"] }}
    vlan-id {{ overlay["irb"][irb]["l2vni"] }}
    vlan-raw-device bridge
    {% if overlay["irb"][irb]["ipv4"] is defined %}
    address {{ overlay["irb"][irb]["ipv4"]["None"] }}
    {% if overlay["irb"][irb]["ipv4"]["VRRP"] is defined %}
    address-virtual 00:00:5e:00:01:01 {{ overlay["irb"][irb]["ipv4"]["VRRP"]}} {% if overlay["irb"][irb]["ipv6"] is defined %}{% if overlay["irb"][irb]["ipv6"]["VRRP"] is defined %}{{ overlay["irb"][irb]["ipv6"]["VRRP"]}}{% endif %}{% endif %}
    {% endif %}

    {% if overlay["irb"][irb]["ipv6"] is defined %}
    address {{ overlay["irb"][irb]["ipv6"]["None"] }}
    post-up ip link set dev vlan{{ overlay["irb"][irb]["l2vni"] }}-v0 addrgenmode none
    post-up ip link set dev vlan{{ overlay["irb"][irb]["l2vni"] }}-v0 down
    post-up ip link set dev vlan{{ overlay["irb"][irb]["l2vni"] }}-v0 up
    post-up ip address add fe80::1/64 dev vlan{{ overlay["irb"][irb]["l2vni"] }}-v0
    {% endif %}
    {% endif %}
{% endif %}
{% endfor %}
{% endif %}

###############
# Server ports
###############

{% if ports is defined %}
{% for port in ports %}

{% if ports[port]["members"] is defined %}
{% for member in ports[port]["members"] %}
auto {{ member }}
iface {{ member }}
{% endfor %}
{% endif %}

auto {{ port }}
iface {{ port }}
  {% if (ports[port]["vlans"] is not defined) and (ports[port]["vlan"] is not defined) %}
  mtu 9216
  {% endif %}
  {% if ports[port]["alias"] is defined %}
  alias {{ ports[port]["alias"] }}
  {% endif %}
  {% if ports[port]["members"] is defined %}
  clag-id {{ port[-2:] }}
  bond-slaves {{ ports[port]["members"] | join(" ") }}
  {% endif %}
  {% if ports[port]["vlans"] is defined %}
  mtu 9000
  bridge-vids {{ ports[port]["vlans"] | join(" ") }}
  {% endif %}
  {% if ports[port]["vlan"] is defined %}
  mtu 9000
  bridge-access {{ ports[port]["vlan"] }}
  {% endif %}
{% endfor %}
{% endif %}
