# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*.intf

# The loopback network interface
auto lo
iface lo inet loopback
{% if 'loopback' in interfaces.keys() %}
{% for ip_address in  interfaces['loopback'] %}
{% if 'ip_addr' in ip_address.keys() and 'netmask' in ip_address.keys() %}
    address {{ ip_address['ip_addr'] }}/{{ ip_address['netmask'] }}
{% endif %}
{% endfor %}
{% endif %}

# The primary network interface
auto eth0
iface eth0
{% if 'out_of_band' in interfaces.keys() %}
{% for ip_address in  interfaces['out_of_band'] %}
{% if 'ip_addr' in ip_address.keys() and 'netmask' in ip_address.keys() %}
    address {{ ip_address['ip_addr'] }}/{{ ip_address['netmask'] }}
{% endif %}
{% if 'alias' in ip_address.keys() %}
    alias {{ ip_address['alias'] }}
{% endif %}
{% if 'alias' in ip_address.keys() %}
    gateway {{ ip_address['gateway'] }}
{% endif %}
{% endfor %}
{% endif %}

{% if 'swp' in interfaces.keys() %}
{% for interface in  interfaces['swp'] %}
{% if 'name' in interface.keys() %}
auto {{ interface['name'] }}
iface {{ interface['name'] }}
{% if 'mtu' in interface.keys() %}
    mtu {{ interface['mtu'] }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}